.embla__viewport {
    overflow: hidden;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: -3rem;
}

.embla__slide {
    display: flex;
    /*flex: 0 0 40%;*/
    min-width: 0;
    margin-left: 3rem;
    justify-content: center;
    align-items: center;
}
